roms/*.bin
research/novelty/tools/run.sh
research/novelty/tools/results/*
research/novelty/on-policy/bin/*
research/novelty/on-policy/sarsaProxyOption
research/novelty/tools/bin/*
research/novelty/tools/generateSamples
research/novelty/tools/genEigVectors.sh
tools/replay/bin/
tools/replay/replay
src/bin/
src/learner
src/main.cpp
*~
libs/snappy/.deps/
ibs/snappy/.libs/
libs/snappy/INSTALL
libs/snappy/Makefile
libs/snappy/Makefile.in
libs/snappy/aclocal.m4
libs/snappy/autom4te.cache/
libs/snappy/compile
libs/snappy/config.guess
libs/snappy/config.h
libs/snappy/config.h.in
libs/snappy/config.log
libs/snappy/config.status
libs/snappy/config.sub
libs/snappy/configure
libs/snappy/depcomp
libs/snappy/install-sh
libs/snappy/libsnappy.la
libs/snappy/libtool
libs/snappy/ltmain.sh
libs/snappy/m4/libtool.m4
libs/snappy/m4/ltoptions.m4
libs/snappy/m4/ltsugar.m4
libs/snappy/m4/ltversion.m4
libs/snappy/m4/lt~obsolete.m4
libs/snappy/missing
libs/snappy/snappy-c.lo
libs/snappy/snappy-c.o
libs/snappy/snappy-sinksource.lo
libs/snappy/snappy-sinksource.o
libs/snappy/snappy-stubs-internal.lo
libs/snappy/snappy-stubs-internal.o
libs/snappy/snappy-stubs-public.h
libs/snappy/snappy.lo
libs/snappy/snappy.o
libs/snappy/snappy_unittest
libs/snappy/snappy_unittest-snappy-test.o
libs/snappy/snappy_unittest-snappy_unittest.o
libs/snappy/stamp-h1
libs/snappy/test-driver
callgrind.out.*
